@font-face {
    font-family: 'Roboto';
    src:
        url("./files/fonts/roboto-regular-webfont.woff2") format("woff2"),
        url("./files/fonts/roboto-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:
        url("./files/fonts/roboto-bold-webfont.woff2") format("woff2"),
        url("./files/fonts/roboto-bold-webfont.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

body {
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 
                'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 
                'Helvetica Neue', sans-serif;

    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 'sidebar header'
                            'sidebar main';

    min-height: 98vh;
}

header {
    grid-area: header;

    border: 1px solid black;
}

aside {
    grid-area: sidebar;

    border: 1px solid black;
}

main {
    grid-area: main;

    border: 1px solid black;
}

/* Reset for form elements */
label, input, button {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 100%;
    border: none;
}

/* Header Styling */
header {
    display: grid;
    gap: 32px;
    padding: 16px 8px 5px 25px;
}

.header-top {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    place-content: center space-between;
}

.search {
    display: grid;
    grid-template-columns: auto 1fr;
    place-content: center start;
    gap: 8px;
}

#search {
    width: 80%;
    min-width: 80px;
    padding-left: 11px;
    background-color: #d1d5db;

    border-radius: 16px;
}
#search:hover, #search:focus {
    background-color: #e5e7eb;
}
#search:focus, #search:active {
    outline: 2px solid #1e293b;
} 

.profile-items {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 1fr;
    place-content: center;
    place-items: center end;

    font-size: 1.5rem;
}

.profile-name {
    justify-self: center;
    font-weight: 800;
}

.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center space-between;
    gap: 32px;
}

.profile {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: auto 1fr;
    grid-template-areas: 'pfp greet'
                            'pfp id';
    column-gap: 32px;

    font-size: 2.2rem;
    font-weight: 800;
}
.profile > .pfp {
    grid-area: pfp;
}
.greet-small {
    grid-area: greet;

    font-size: 1.1rem;
}
.profile-id {
    grid-area: id;
    text-wrap: nowrap;
}

.options {
    display: grid;
    grid-template-columns: repeat(3,auto);
    place-content: center end;
    gap: 32px;

    margin-right: 32px;
    font-size: 1rem;
}
.options button {
    background-color: #0ea5e9;
    color: white;

    font-weight: 800;

    height: 2.5em;
    width: 5.8em;
    max-width: 100%;
    border-radius: 32px;

    cursor: pointer;
}

label[for="search"] {
    display: block;
    background-image: url("./files/icons/search.svg");
    background-repeat: no-repeat;
    background-size: contain;

    cursor: pointer;

    height: 2em;
    width: 2em;
}

button.notifications {
    display: block;
    background-image: url("./files/icons/notifications-active.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: inherit;

    cursor: pointer;

    height: 1em;
    width: 1em;
}

div.pfp {
    background-image: url("./files/blue.jpeg");
    background-size: contain;
    background-repeat: no-repeat;

    cursor: pointer;

    height: 2em;
    width: 2em;
    border-radius: 50%;
}

/* Sidebar Styling */
aside {
    display: grid;
    place-content: start;
    gap: 40px;

    font-size: 1.1rem;
    font-weight: 800;

    background-color: #0ea5e9;
    color: white;
}

.dashboard {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;

    margin-left: 16px;
    font-size: 1.8rem;
}

img {
    height: 2em;
    width: 2em;
    filter: invert(100%);
}

.menu ul {
    display: grid;
    gap: 23px;

    padding: 0;
}

.item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 16px;
    
    margin-left: 16px;

    cursor: pointer;
}