body {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 'sidebar header'
                            'sidebar main';

    min-height: 98vh;
}

header {
    grid-area: header;

    border: 1px solid black;
}

aside {
    grid-area: sidebar;

    border: 1px solid black;
}

main {
    grid-area: main;

    border: 1px solid black;
}